html,
body,
#root {
    height: 100%;
    margin: 0;
}

.grid-container {
    width: 700px;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: [first] auto [second] 200px [third] auto;
    gap: 20px;
}

.grid-container div {
    background-color: #DAA520;
}
